@layout("/common/_curd/_container.html"){

	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
		@			  {name:"昵称", index:"nick_name", type:"text",newline:true,length:8},
		@			  {name:"手机号码", index:"mobile", type:"text",newline:true,length:8},
		@			  {name:"密码", index:"password", type:"text",newline:true,length:8},
		@			  {name:"头像", index:"header", type:"text",newline:true,length:8},
		@			  {name:"介绍", index:"desc", type:"text",newline:true,length:8},
		@			  {name:"性别", index:"gender", type:"text",newline:true,length:8}
		@		   ];
		@ include("/common/_curd/_view.html", {"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_close:"关闭"}) {}
	</form>

@}
