@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["用户编号", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						""];
		var _colmodel = [{name:"id", index:"id", width:100},
						{name:"nick_name", index:"nick_name", width:100},
						{name:"password", index:"password", width:100},
						{name:"mobile", index:"mobile", width:100},
						{name:"email", index:"email", width:100},
						{name:"gender", index:"gender", width:100},
						{name:"active_degree", index:"active_degree", width:100},
						{name:"birthday", index:"birthday", width:100},
						{name:"signature", index:"signature", width:100},
						{name:"registe_time", index:"registe_time", width:100},
						{name:"province", index:"province", width:100},
						{name:"city", index:"city", width:100},
						{name:"head_img_url", index:"head_img_url", width:100},
						{name:"fk_resource_id", index:"fk_resource_id", width:100},
						{name:"introduction", index:"introduction", width:100},
						{name:"status", index:"status", width:100},
						{name:"version", index:"version", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
@		{name:"用户编号", index:"id", type:"text"},
			@		{name:"", index:"nick_name", type:"text"},
			@		{name:"", index:"password", type:"text"},
			@		{name:"", index:"mobile", type:"text"},
			@		{name:"", index:"email", type:"text"},
			@		{name:"", index:"gender", type:"text"},
			@		{name:"", index:"active_degree", type:"text"},
			@		{name:"", index:"birthday", type:"text"},
			@		{name:"", index:"signature", type:"text"},
			@		{name:"", index:"registe_time", type:"text"},
			@		{name:"", index:"province", type:"text"},
			@		{name:"", index:"city", type:"text"},
			@		{name:"", index:"head_img_url", type:"text"},
			@		{name:"", index:"fk_resource_id", type:"text"},
			@		{name:"", index:"introduction", type:"text"},
			@		{name:"", index:"status", type:"text"},
			@		{name:"", index:"version", type:"text"}							
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	