@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["业务id", 
						"任务名称", 
						"任务完成周期", 
						"用户id", 
						"发布地址", 
						"类型", 
						"相关描述", 
						"价格", 
						"0:未删除 1:删除", 
						"创建时间", 
						"修改时间"];
		var _colmodel = [{name:"id", index:"id", width:100},
						{name:"name", index:"name", width:100},
						{name:"dev_time", index:"dev_time", width:100},
						{name:"user_id", index:"user_id", width:100},
						{name:"address", index:"address", width:100},
						{name:"type", index:"type", width:100},
						{name:"desc", index:"desc", width:100},
						{name:"price", index:"price", width:100},
						{name:"del_status", index:"del_status", width:100},
						{name:"create_time", index:"create_time", width:100},
						{name:"update_time", index:"update_time", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
@		{name:"业务id", index:"id", type:"text"},
			@		{name:"任务名称", index:"name", type:"text"},
			@		{name:"任务完成周期", index:"dev_time", type:"text"},
			@		{name:"用户id", index:"user_id", type:"text"},
			@		{name:"发布地址", index:"address", type:"text"},
			@		{name:"类型", index:"type", type:"text"},
			@		{name:"相关描述", index:"desc", type:"text"},
			@		{name:"价格", index:"price", type:"text"},
			@		{name:"0:未删除 1:删除", index:"del_status", type:"text"},
			@		{name:"创建时间", index:"create_time", type:"text"},
			@		{name:"修改时间", index:"update_time", type:"text"}							
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	