@layout("/common/_container.html"){

		<div class="row" style="padding:10px 16px 10px 16px;">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>

					<i class="ace-icon fa fa-check green"></i>
					欢迎使用
					<strong class="green">
						微广后台系统
						<small>(v1.0)</small>
					</strong>,
				</div>
				

			
			</div>
	  </div>
	  
@}	